<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Business Finder{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
    </head>
    <body>
        <main class="main" role="main">
        <div class="page-header">
          <h1 class="text-center">Business Finder</h1>
        </div>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
