{% extends 'base.html.twig' %}

{% block title %} {{company.title}} | Business Finder{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>{{company.title}}</h3>
                        <span>in {{company.categoriesNames}}</span>
                    </div>
                    <div class="panel-body">
                       <h4><span class="fa fa-info"></span> About</h4>
                       <p>{{company.description}}</p>
                       
                       <h4><span class="fa fa-home"></span> Adrress</h4>
                       <p>{{company.address}}, {{company.cityName}}, {{company.stateName}}, {{company.zipCode}}</p>
                       
                       <h4><span class="fa fa-phone"></span> Phone</h4>
                        <p>{{company.phoneNumber}}</p>
                    </div>
                </div>
            </div>
      </div>
      <div class="row">
          <div class="col-lg-6 col-sm-6">
              <a href="javascript: history.back();"><span class="fa fa-caret-left"></span> Back to results</a>
          </div>
          <div class="col-lg-6 col-sm-6 text-right">
              <a href="/">New search <span class="fa fa-search"></span></a>
          </div>
      </div>
  </div>
{% endblock %}

{% block stylesheets %}
<style>
    .panel-body p {
        margin-bottom: 15px;
    }
    
</style>
{% endblock %}
