{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
      <div class="col-lg-12">
   <form class="form-horizontal text-center" role="form" action="search">
       <div class="form-group">
           <input name="q" type="text" placeholder="What are you looking for?" style="width: 50%" class="text-center" required/>   
       </div>
       <button type="submit" class="btn btn-primary">
          Search
           <span class="fa fa-search"></span>
       </button>
   </form>
      </div>
  </div>
{% endblock %}

{% block stylesheets %}
<style>
   
    
</style>
{% endblock %}
