{% extends 'base.html.twig' %}

{% block body %}
  
    {% if results is empty %}
       <div class="row">
            <div class="col-lg-12">
                <p>Sorry, but we didn't find any results matching <b>{{term}}</b>.</p>
                <a href="/">Click here to make a new search</a>
            </div>
    </div>
    {% else %}
      <div class="panel panel-default">
           <div class="panel-heading">
                    <h3>Search results for <b>"{{term}}"</b>.</h3>
            </div>
          <div class="panel-body">
                <ol class="list-results">
                    {% for comp in results %}
                        <li><a href="/business/view/{{comp.id}}">
                            <label>{{ comp.title }}</label>
                            <span>in {{comp.categoriesNames}}</span>
                        </a></li>
                    {% endfor %}
                </ol>
          </div>
          <div class="panel-footer text-right">
              <a href="/">New search <span class="fa fa-search"></span></a>
          </div>
      </div>
    {% endif %}
{% endblock %}

{% block stylesheets %}
<style>
    .list-results li {
        margin-bottom: 10px;
    }
    .list-results li label:hover {
        cursor: pointer;
    }
    .list-results li span {
        display: block;
    }
</style>
{% endblock %}
