<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Business Finder Admin{% endblock %}</title>
        {% block stylesheet %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
            
        <link rel="stylesheet"
            href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
    </head>
    <body>
       <main class="main" role="main">
            <div class="page-header">
              <h1 class="text-center">Business Finder Admin</h1>
              {% if app.user %}
              <div class="text-right">
                  <a href="/logout">Logout <span class="fa fa-sign-out"></span></a>
              </div>
              {% endif %}
            </div>
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
       </main>
    </body>
</html>
