{% extends 'admin/base.html.twig' %}

{% block body %}

<div class="container">
<div class="row">
    <div class="col-lg-12">
        <a href="/admin"><span class="fa fa-caret-left"></span> Back to list </a><br/>
        <h2>{{title}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">      
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}  
    </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript"
   src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>

<script type="text/javascript"
   src="{{ asset('assets/vendor/jquery-mask-plugin/dist/jquery.mask.min.js') }}"></script>

<script type="text/javascript">
    
    // Ajax request to filter cities by state
    $(function() {
        var $slcCity = $("#form_idCity");
        $("#form_idState").change(function(evt) {
            var id = $(this).val();
            if ( id !== "") {
                $.get('/admin/ajax/cities/'+id, function(response) {
                    $slcCity.html(response);  
                });
            }
            else {
                $slcCity.empty();
            }
        });
    });

</script>


{% endblock %}
