{% extends 'admin/base.html.twig' %}

{% block body %}
    
    <div class="container">
       
        <div class="row">
            <div class="col-lg-8">
                <h3>Business</h3>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" href="admin/business/add">Add business <span class="fa fa-plus"></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {% for msg in app.session.flashBag.get('success') %}
                            {{ msg|raw }}
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if companys is empty %}
                    <div class="alert alert-info">
                        <p>There is no business registred yet.</p>
                    </div>
                {% endif %}
               
                <div id="business-list">
                    <ul>
                        {% for comp in companys %}
                            <li><a href="admin/business/edit/{{comp.id}}">{{ comp.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
            
{% endblock %}

{% block stylesheets %}
<style>
    
</style>
{% endblock %}
