{% extends 'admin/base.html.twig' %}

{% block body %}

   <div class="container">
       
       <div class="row">
           <div class="col-lg-12">
               <h4 class="text-center">Please login to access the system</h4>
               <br/>
           </div>
       </div>
       
        
        <div class="row">
            <div class="col-lg-12">     
                <form class="form form-login" action="{{ path('login') }}" method="post">
                    {% if error %}   
                        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label required" for="username">Username:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label required"  for="password">Password:</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary">Login <span class="fa fa-sign-in"></span></button>
                    </center>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheet %}
<style type="text/css">
    .form-login {
        max-width: 300px;
        margin: 0 auto;
    }
</style>
{% endblock %}